{% load static %}

 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Get In Touch</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Ankara, TURKEY</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>home@homequest.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#aboutUsModal">About Us</a>
                <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a>
                <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#ourServicesModal">Our Services</a>
                <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a>
                <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#termConditionModal">Term & Condition</a>
            </div>
            
          



  <!-- About Us Modal -->
  <div class="modal fade" id="aboutUsModal" tabindex="-1" aria-labelledby="aboutUsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutUsModalLabel">About Us</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya About Us içeriği gelecek -->
                <p class= "text-dark"> At Home Quest, we are an innovative real estate platform dedicated to helping you find your dream home.
                   With our extensive portfolio and user-friendly interface, you can easily discover the property you're looking for.
                   Our listings are equipped with detailed information and high-quality images to help you make informed decisions. 
                   Our experienced team is always by your side, offering solutions tailored to your needs. With Home Quest, you're one step closer to your dream living space. 
                   Join us and let's find your new home together!
                <p>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

 <!--Contact Us Modal -->
 <div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactUsModalLabel">Contact Us</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya Contact Us içeriği gelecek -->
                <p class= "text-dark">Feel free to reach out to us using the contact information below. 
                   We're here to answer your questions and assist you in any way we can.
                
                </p>
                <p class= "text-dark"><strong>Address:</strong><br>
                    123 Street,<br>
                    Ankara, TURKEY</p>
                <p class= "text-dark" ><strong>Phone:</strong><br>
                    +012 345 67890</p>
                <p class= "text-dark" ><strong>Email:</strong><br>
                    <a href="mailto:info@homequest.com">info@homequest.com</a></p>
                        
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Our Services Modal -->
<div class="modal fade" id="ourServicesModal" tabindex="-1" aria-labelledby="ourServicesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ourServicesModalLabel">Our Services</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya Our services içeriği gelecek -->
                <p class= "text-dark" >In our sales and rental services, we provide our customers with a unique experience in their search for homes or commercial properties. 
                   We use personalized filtering methods to make it easier for you to find properties that meet your needs and preferences. 
                   By identifying the features that are important to you, we offer you the most suitable options and help you find the property you are looking for in the shortest time possible. 
                   We are committed to meeting our customers' expectations and ensuring their satisfaction. We also offer services for those who want to sell or rent their properties. 
                   Those who want to list their own properties can reach potential buyers or tenants through our special filtering methods. 
                   We work together with our professional team to meet our customers' expectations and ensure their satisfaction



                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Privacy Policy Modal -->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyPolicyModalLabel">Privacy Policy</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya Privacy Policy içeriği gelecek -->
                <p class= "text-dark" >Customer privacy is our priority. We handle your personal information with care when collecting and using it. 
                   We use this information to provide you with better service, process your requests, and communicate with you. 
                   We do not share, sell, or rent your information to third parties, and we take industry-standard security measures to protect your data. 
                   We reserve the right to update our privacy policy and publish updates here. If you have any questions, you can reach us via our email address.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Term & Condition -->
<div class="modal fade" id="termConditionModal" tabindex="-1" aria-labelledby="termConditionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termConditionModalLabel">Term & Condition</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya Term & Condition içeriği gelecek -->
                <p class= "text-dark" >Please read these terms of service carefully. By using our services, you agree to the following conditions: 
                   You must act in accordance with the laws and regulations while using our services and respect the privacy and intellectual property rights of others. 
                   Home Quest cannot be held responsible for any damages resulting from the use of our services, nor for damages arising from third-party services. 
                   We reserve the right to update our terms of service and publish updates here, so it is recommended that you regularly check these terms of service.



                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>


            
                  <div class="col-lg-2 col-md-6">
                     <h5 class="text-white mb-4">Other</h5>
                          <div class="footer-menu">
                            <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#cookiesModal">Cookies</a>
                            <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">Help</a>
                            <a class="btn btn-link text-white-50" href="#" data-bs-toggle="modal" data-bs-target="#FQAsModal">FQAs</a>
                          </div>
                      </div>
                  
                      <div class="col-lg-4 col-md-6 p-0">
                        <form method="post" action="{% url 'sendMail' %}">

                            {% csrf_token %} 
                            
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name - Surname</label>
                                <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your name surname with anyone else.</div>
                              </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Message</label>
                                <textarea name="message" class="form-control"  id=""> </textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                      </div>


                      <!-- Cookies Modal -->
  <div class="modal fade" id="cookiesModal" tabindex="-1" aria-labelledby="cookiesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookiesModalLabel">Cookies</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya Cookies içeriği gelecek -->
                <p class= "text-dark" >Our website uses cookies to enhance user experience and analyze site traffic. 
                   Cookies are small text files sent by the website you visit to your computer or mobile device. 
                   These cookies help us remember your preferences and personalize content and ads based on your interests. 
                   If you prefer not to accept cookies, you can disable them by changing your browser settings. 
                   However, please note that some features may not function properly. By using our site, you consent to our use of cookies. 
                   For more information, please review our Privacy Policy.










                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>


   
                      <!-- Help Modal -->
                      <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="helpModalLabel">Cookies</h5>
                                    
                    
                                </div>
                                <div class="modal-body">
                                    <!-- Buraya Help içeriği gelecek -->
                                    <p class= "text-dark" >Do you have any questions? Do you need assistance? We're here to help! You can find answers in our FAQ section or directly email us. 
                                       Customer satisfaction is our priority, and we're here for your satisfaction.
                    
                    
                    
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FQAs Modal -->
  <div class="modal fade" id="FQAsModal" tabindex="-1" aria-labelledby="FQAsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FQAsLabel">FQAs</h5>
                

            </div>
            <div class="modal-body">
                <!-- Buraya FQAs içeriği gelecek -->
                    <p class= "text-dark"><strong>How can I find a home?</strong><br> 
                    We have special filtering methods to help you find properties that meet your needs and preferences. You can use the search filter on our homepage to filter the results according to the features you are looking for.
                    
                    <p class= "text-dark" ><strong>How can I contact a real estate agent?</strong><br>  
                    You can contact the real estate agent by using their contact number.
                    
                    <p class= "text-dark" ><strong>How can I list my property?</strong><br>
                    You can list your property by adding it through the "add product" section in your profile.
                    
                    
                    
                    
                    
                    
                    


                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
      <!-- Footer End -->


 <!-- Back to Top -->
 <!-- <div class="back-to-top">
    <a href="#" class="btn btn-sm btn-primary"><i class="bi bi-arrow-up"></i></a>
    <div class="square"></div>
</div> -->

